body {
	background: #33555e;
	background-image: url("/img/mountain-repeat.png");
	background-position: bottom; 
	background-repeat: repeat-x;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	border-bottom: 5px solid #FFB03B;
}

h1, h2, h3, h4, h5, h6, p, body {
	color: #fffae1;
}

#hi {
	border: 6px solid #FFB03B;
	
	font-weight: bold;
	margin: 20px auto 40px;
	border-radius: 50%;
	height: 110px;
	width: 110px;	
	padding-top: 18px;
}

body a {
	color: #FFB03B;
}

#project-list {
	list-style: none;
}

#project-list p {
	margin-bottom: .5rem; 
}

