$primary-color: #333;

$rose: #F7CAC9;
$adobe-blue: #92A8D1;

// Muted Scandanavian
// $gray: #505050;
// $blue: #AEC5C4;
// $mustard: #D6CA63;
// $gray: #75726F;
// $red: #E08B5F;
// $yellow: #E7C966;
// $ivory: #FEFAEF;

// Thinking of Hruby
$gray: #505050;
$blue: #409690;
$green: #90B537;
$gray: #75726F;
$red: #E05417;
$yellow: #E5AF17;
$ivory: #FEFAEF;
