.contact-page {
  p {
    margin: 0;
  }
  .fa {
    margin-right: 1rem;
  }
}

.bio {
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;

  .contact-photo {
    flex: 1 1 250px;
    margin-right: 2rem;
    img {
      max-width: 100%;
      border-radius: 50%;
    }
  }

  p {
    flex: 13;
    padding-bottom: 1rem;
    font-size: 2.8rem;
  }

}
