body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  color: $primary-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 80px 20px;
  // margin-top: 80px;
}
.view-container {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
// .view[ui-view] {
//   height: 100%;
//   width: 600px;
//   margin-top: 30px;
// }

.work-page {
  background: #fff;
  // padding: 30px 100px;
  // margin: 0;
  // height: 1000px;
}

.container-fluid {
  padding: 0;
  /*margin: 0;*/
}
/*Show only on big screens*/
@media (min-width: 800px) {
  // .tagline {
  //   display: inline;
  // }
}

// Home page
.twee-container {
  margin-top: 385px;
  transition: margin 2s ease;
}
.row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  .small {
    width: 30%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .large {
    width: 70%;
    height: 300px;
  }
}
