logo.large {
  width: 900px;
  position: fixed;
  z-index: -99;
  .logo-svg-group {
    transition: opacity 0.5s ease;
  }
  .blur {
    opacity: 0;
    filter: url(#blur-filter);
  }
  path {
    stroke: none;
  }
}

logo.small svg {
  width: 200px;
}

.logo-container {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: hsla(360, 100%, 100%, 0.8);
}
.zs-hide {
  opacity: 0;
}
.zs-show {
  opacity: 0.95;
}

.zac-smith-logo {
  margin-left: 50px;
  .class1 {
    fill: $red;
  }
  .class1, .class2 {
    opacity: 0.8;
  }
  .class2 {
    fill: $yellow;
  }
}
