/*body * {
  outline: pink solid 1px;
}*/

.tile {
  background: #555;
  color: #fff;
  font-size: 2rem;
}

/* UI Views */

// [ui-view].ng-enter {
//   transition: 0.5s ease all;
//   opacity: 0;
// }
// [ui-view].ng-enter.ng-enter-active {
//   opacity: 1;
// }
// [ui-view].ng-leave {
//   transition: 0.1s ease all;
//   opacity: 1;
// }
// [ui-view].ng-leave.ng-leave-active {
//   opacity: 0;
// }



.title {
  width: 660px;
  height: 200px;
}
.name {
  color: #F7CAC9;
  font-weight: 400;
}



a {
  text-decoration: none;
  color: $blue;
  transition: color 0.1s;
}
a:hover {
  color: $yellow;
}
