// body * {
//   outline: 1px solid pink;
// }

.portfolio-page {
  .project {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }

  .project-title {
    border-bottom: 1px solid #eee;
    padding-bottom: 0.3rem;
  }

  .project-body {
    display: flex;
    .project-thumbnail {
      flex: 1 1 100px;
      margin-right: 50px;
      img {
        max-width: 100%;
      }
    }
    .project-description {
      flex: 5;
    }
  }

  .project-links a {
    font-size: 1.6rem;
    margin-right: 1rem;
  }

}
