/*body * {
  outline: 5px dotted pink;
}*/

$primary-color: #333;
$rose: #F7CAC9;
$blue: #92A8D1;
$gray: #505050;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-container {
  width: 1000px;
  // height: 700px;
  display: flex;
  flex-direction: column;
  // background: $blue;
}
.box {
  width: 100%;
  height: 100%;
  display: flex;

  .small {
    // background: $rose;
    width: 30%;

    div {
      height: 300px;
      width: 100%;
      // background: white;
      display: flex;
      justify-content: center;
      align-items: center;

      .circle {
        border: 0.5rem solid white;
        border-radius: 50%;
        width:  80%;
        height: 80%;
      }
    }
  }

  .large {
    width: 70%;
  }
}

// svg on home page
.zac-smith-logo {
  width: 1000px;
  position: fixed;
  z-index: -99;
  // filter: url(#blur-filter);
}
.zac-smith-logo svg:hover {
  transition: 0.2s linear;
}
.zac-smith-logo path {
  fill: $blue;
}

.svg-background {
  fill: none;
}

.invisible-box {
  height: 650px;
  width: 500px;
}

// line chart
.chart path {
  stroke: $blue;
}


#face {
  width: 100%;
  stroke: $rose;
  stroke-width: 0.25rem;
  margin: 20px;
  fill: none;

  .background {
    fill: none;
    stroke: none;
  }
  circle, .mouth {
    fill: $rose;
    stroke: none;
  }
}

// .twee-container {
//   outline: 5px solid tomato;
//   * {
//     outline: 5px solid aqua;
//   }
// }
