/*body * {
  outline: 5px dotted pink;
}*/

.twee-container {
  margin-top: 385px;
  transition: margin 2s ease;
}



$primary-color: #333;
$rose: #F7CAC9;
$adobe-blue: #92A8D1;
$gray: #505050;
$blue: #AEC5C4;
$mustard: #D6CA63;
$gray: #75726F;
$red: #E08B5F;
$yellow: #E7C966;
$ivory: #FEFAEF;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

// @media for big screens
// @media for small screens

.view-container {
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  .small {
    // background: $rose;
    // background: tomato;
    width: 30%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    .orbit-container {
      height: 80%;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .earth-system {
      animation: spin 10s infinite;
      width: 80%;
      height: 20%;
      display: flex;
      justify-content: space-around;
    }
    .earth {
      width: 3rem;
      height: 3rem;
      background: $blue;
      border-radius: 50%;
    }
    .moon {
      width: 1rem;
      height: 1rem;
      background: $blue;
      border-radius: 50%;
    }
    @keyframes spin {
      0% {
        transform: rotate(0turn);
      }
      100% {
        transform: rotate(1turn);
      }
    }
  }

  .large {
    width: 70%;
    height: 300px;
  }
}

.zac-smith-logo {
  width: 1000px;
  position: fixed;
  z-index: -99;
  .logo-svg-group {
    transition: opacity 2s ease;
  }
  .blur {
    opacity: 0.1;
    filter: url(#blur-filter);
  }
  path {
    fill: $red;
    stroke: none;
  }
  .cls-8 {
    fill: $blue;
  }

}

.svg-background {
  fill: none;
}

.invisible-box {
  height: 600px;
  width: 500px;
}

// line chart
.chart path {
  stroke: $yellow;
}

.second-row {
  // background: $blue;
  .large {
    border-top: 40px solid $blue;
    .tagline {
      margin: 0;
      padding: 0;
      color: $yellow;
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

// Give some size to svg illustrations
square01 svg,
monster svg,
bulb svg
 {
  width: 100%;
  height: 100%;
}

square01 {
  .cls-1 {
    fill: none;
    stroke: none;
  }
  .cls-2 {
    stroke: $red;
    fill: none;
    stroke-width: 5px;
  }
  .cls-3 {
    fill: $red;
  }
  .cls-4 {
    fill: none;
    stroke-width: 5px;
    stroke: white;
  }
}

monster {
  .cls-1 {
    fill: $blue;
  }
  .cls-2 {
    fill: white;
  }
  .cls-3 {
    fill: none;
    stroke: white;
    stroke-miterlimit: 10;
    stroke-width: 5px;
  }

}

bulb {
  .cls-1 {
    fill: $blue;
  }

  .cls-2 {
    fill: none;
    stroke: $rose;
    stroke-miterlimit: 10;
    stroke-width: 5px;
  }
}

triangle {
  width: 300px;
  height: 300px;
  background: $rose;
  .triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 300px solid $blue;
    border-right: 300px solid transparent;
  }
}
