/*body * {
  outline: 5px dotted pink;
}*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-container {
  width: 1000px;
  height: 700px;
  display: flex;
  background: hsla(180, 100%, 80%, 0.5);
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
}

.box__bin {
}

.box__bin--small {
  background: aqua;
  width: 30%
}
.box__bin--large {
  width: 70%;
}

.box__bin__binny {
  height: 300px;
  width: 100%;
  background: hsla(360, 100%, 80%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border: 0.5rem solid white;
  border-radius: 50%;
  width:  80%;
  height: 80%;
}
