.view-container {
  position: relative;
  padding-top: 55vh;
  background-image: url(../images/cloud-4.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  border-bottom: 3px #333 solid;
}

.guy {
  width: 10vw;
  height: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/_guy-01.png);
  position: absolute;
  bottom: 0;
  left: 45vw;
}

.circle {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  margin-bottom: 1%;
  border-top:    4px solid #FFF;
  border-bottom: 4px solid #FFF;
  border-right:  4px solid transparent;
  border-left:   4px solid transparent;
  opacity: 0.3;
  animation: spin 35s linear infinite;
  position: absolute;
  left: 40vw;
  bottom: 0;
}

@keyframes spin {
    0%   { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

.links span {
  transition: color 0.1s;
}

.links span:hover {
  color: #F7CAC9;
}

.links a {
  color: #92A8D1;
}
