/*body * {
  outline: 5px dotted pink;
}*/
body {
  display: flex;
  flex-direction: column;
  align-items: center; }

.view-container {
  width: 1000px;
  display: flex;
  flex-direction: column; }

.box {
  width: 100%;
  height: 100%;
  display: flex; }
  .box .small {
    background: #F7CAC9;
    width: 30%; }
    .box .small div {
      height: 300px;
      width: 100%;
      background: #505050;
      display: flex;
      justify-content: center;
      align-items: center; }
      .box .small div .circle {
        border: 0.5rem solid white;
        border-radius: 50%;
        width: 80%;
        height: 80%; }
  .box .large {
    width: 70%; }

.zac-smith-logo {
  width: 1000px;
  position: fixed;
  z-index: -99; }

.zac-smith-logo svg:hover {
  filter: url(#blur-filter);
  opacity: 0.2;
  transition: 0.2s linear; }

.zac-smith-logo path {
  fill: #92A8D1; }

.invisible-box {
  height: 650px;
  width: 500px; }

.chart path {
  stroke: #92A8D1; }
