/*body * {
  outline: pink solid 1px;
}*/

body, a {
  color: #555;
}

.tile {
  height: 300px;
  background: #555;
  color: #fff;
  font-size: 2rem;
}

.title h1 {
  background: #222;
  color: #fff;
  padding: 20px 30px;
  display: inline-block;
}
