.contact-page p {
  margin: 0; }

.contact-page .fa {
  margin-right: 1rem; }

.bio {
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px; }
  .bio .contact-photo {
    flex: 1 1 250px;
    margin-right: 2rem; }
    .bio .contact-photo img {
      max-width: 100%;
      border-radius: 50%; }
  .bio p {
    flex: 13;
    padding-bottom: 1rem;
    font-size: 2.8rem; }

.chart path {
  stroke: #E5AF17; }

/* Site Header and Nav */
header {
  margin: 0 150px; }

header h1 {
  width: 600px;
  height: 150px;
  font-size: 5rem;
  position: fixed; }

.nav-page-container {
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0; }

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 100px 150px; }

.nav-page-container ul {
  list-style: none;
  text-align: right; }

.nav-page-container li {
  font-size: 2rem;
  margin-bottom: 1rem; }

.nav-page-container a {
  color: #75726F;
  transition: color 0.2s;
  cursor: pointer; }

.nav-page-container a:hover {
  color: #E5AF17; }

.nav-page-container p {
  margin-bottom: 0rem; }

/*show/hide button*/
nav {
  display: flex;
  justify-content: flex-end; }

nav span {
  margin: 0 100px; }

header {
  display: flex; }

.nav-toggle {
  position: fixed;
  z-index: 1000;
  right: 50px;
  top: 50px;
  font-size: 3rem;
  color: #75726F;
  transition: 0.2s color ease; }

.nav-toggle:hover {
  color: #E5AF17; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 80px 20px; }

.view-container {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin-top: 50px; }

.work-page {
  background: #fff; }

.container-fluid {
  padding: 0;
  /*margin: 0;*/ }

/* Big screens */
@media (min-width: 1000px) {
  .hide-on-big-screens {
    display: none; } }

@media (max-width: 1000px) {
  .hide-on-mobile {
    display: none; }
  .home .twee-container {
    margin-top: 0; } }

.twee-container {
  margin-top: 385px;
  transition: margin 2s ease; }

.row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between; }
  .row .small {
    width: 30%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .row .large {
    width: 70%;
    height: 300px; }

logo.large {
  width: 900px;
  position: fixed;
  z-index: -99; }
  logo.large .logo-svg-group {
    transition: opacity 0.5s ease; }
  logo.large .blur {
    opacity: 0;
    filter: url(#blur-filter); }
  logo.large path {
    stroke: none; }

logo.small svg {
  width: 200px; }

.logo-container {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: white;
  opacity: 0.95; }

.zs-hide {
  opacity: 0; }

.zs-show {
  opacity: 0.95; }

.zac-smith-logo {
  margin-left: 50px; }
  .zac-smith-logo .class1 {
    fill: #E05417; }
  .zac-smith-logo .class1, .zac-smith-logo .class2 {
    opacity: 0.8; }
  .zac-smith-logo .class2 {
    fill: #E5AF17; }

/*body * {
  outline: pink solid 1px;
}*/
.tile {
  background: #555;
  color: #fff;
  font-size: 2rem; }

/* UI Views */
.title {
  width: 660px;
  height: 200px; }

.name {
  color: #F7CAC9;
  font-weight: 400; }

a {
  text-decoration: none;
  color: #409690;
  transition: color 0.1s; }

a:hover {
  color: #E5AF17; }

.orbit-container {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center; }

.earth-system {
  animation: spin 10s infinite;
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: space-around; }

.earth {
  width: 3rem;
  height: 3rem;
  background: #409690;
  border-radius: 50%; }

.moon {
  width: 1rem;
  height: 1rem;
  background: #E5AF17;
  border-radius: 50%; }

@keyframes spin {
  0% {
    transform: rotate(0turn); }
  100% {
    transform: rotate(1turn); } }

.portfolio-page .project {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px; }

.portfolio-page .project-title {
  border-bottom: 1px solid #eee;
  padding-bottom: 0.3rem; }

.portfolio-page .project-body {
  display: flex; }
  .portfolio-page .project-body .project-thumbnail {
    flex: 1 1 100px;
    margin-right: 50px; }
    .portfolio-page .project-body .project-thumbnail img {
      max-width: 100%; }
  .portfolio-page .project-body .project-description {
    flex: 5; }

.portfolio-page .project-links a {
  font-size: 1.6rem;
  margin-right: 1rem; }

square01 svg,
monster svg,
bulb svg {
  width: 100%;
  height: 100%; }

.svg-background {
  fill: none; }

.second-row .large {
  border-top: 40px solid #409690; }
  .second-row .large .tagline {
    margin: 0;
    padding: 0;
    color: #E5AF17;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold; }

square01 .cls-1 {
  fill: none;
  stroke: none; }

square01 .cls-2 {
  stroke: #E05417;
  fill: none;
  stroke-width: 5px; }

square01 .cls-3 {
  fill: #E05417; }

square01 .cls-4 {
  fill: none;
  stroke-width: 5px;
  stroke: white; }

monster .cls-1 {
  fill: #409690; }

monster .cls-2 {
  fill: white; }

monster .cls-3 {
  fill: none;
  stroke: white;
  stroke-miterlimit: 10;
  stroke-width: 5px; }

bulb .cls-1 {
  fill: #409690; }

bulb .cls-2 {
  fill: none;
  stroke: #E05417;
  stroke-miterlimit: 10;
  stroke-width: 5px; }

triangle {
  width: 300px;
  height: 300px;
  background: #E05417; }
  triangle .triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 300px solid #E5AF17;
    border-right: 300px solid transparent; }
