<header>
  <nav>
    <div class="title">
      <span class="name">Zac Smith</span>
      <span> </span>
      <span class="tagline">{{ home.tagline }}</span>
    </div>
    <div class="links">
      <a ui-sref="nav">
        <span class="fa fa-navicon"></span>
      </a>
    </div>
  </nav>
</header>
<main>
  <div class="view-container">
    <div class="circle"></div>
    <div class="guy"></div>
    <!-- <div class="chart">
    </div> -->
    <chart data="home.chartData"></chart>
  </div>
</main>
