<header>
  <nav>
    <div class="title">
      <span class="name">Zac Smith</span>
    </div>
    <div class="links">
      <a ui-sref="home">
        <span class="x fa fa-times"></span>
      </a>
    </div>
  </nav>
</header>
<main>
  <div class="subpage-container nav-page-container">
    <ul>
      <li><a ui-sref="portfolio">Portfolio</a></li>
      <li><a ui-sref="contact">Contact</a></li>
      <li><a href="https://medium.com/@billyzac">Blog</a></li>
    </ul>
    <p>
      billyzacsmith@gmail.com
    </p>
    <p>
      720-251-5980
    </p>
  </div>
</main>
