<div class="work-page">
  <h1>Work</h1>
  <div>
    <h2>Project title</h2>
    <p>
      Project description...
    </p>
  </div>
  <div>
    <h2>Project title</h2>
    <p>
      Project description...
    </p>
  </div>
  <div>
    <h2>Project title</h2>
    <p>
      Project description...
    </p>
  </div>
  <div>
    <h2>Project title</h2>
    <p>
      Project description...
    </p>
  </div>
  <div>
    <h2>Project title</h2>
    <p>
      Project description...
    </p>
  </div>
  <div>
    <h2>Project title</h2>
    <p>
      Project description...
    </p>
  </div>
</div>
