<div class="work-page">
  <h1>Work</h1>
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="project-thumbnail media-object" src="./images/seismic-logo.png" alt="Seismic logo">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Seismic</h4>
      <p>
        Creates a map of recent significant earthquakes using earthquake data from the U.S. Geological Survey.
      </p>
      <p>
        Technologies used: SVG, jQuery, and plain CSS.
      </p>
      <p>
        <a class="project-link" href="http://billyzac.github.io/seismic/">Site</a>
        <a class="project-link" href="https://www.youtube.com/watch?v=PQ-KpjxzDTc">Video Demo</a>
        <a class="project-link" href="https://github.com/BillyZac/seismic">GitHub</a>
      </p>
    </div>
  </div>
</div>
